@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');


.logo {
    height: 64px;
    width: auto;
}
.sidebar-open-logo {
    align-items: center;
    padding-left: 15px;
    padding-bottom: 16px;
    display: flex;
    min-width: 234px;
}
.sidebar-closed-logo {
    align-items: center;
    padding-bottom: 16px;
    display: flex;
}
.sidebar-open {
    width: 248px;
    height: 100vh;
    padding: 8px;
}
.sidebar-closed {
    width: 80px;
    height: 100vh;
    padding: 8px;
}